<hr>
<div align="center">
    <br />
		<table border="1" cellpadding="5">
            <tr>
                <th>ID</th>
				<th>Nome</th>
                <th>Ações</th>
            </tr>
            <tbody>
                <% @produtos.each do |produto| %>
                 <tr>
                    <td><%= produto.id %></td>
                    <td><%= produto.nome %></td>
                <% end %>
            </tbody>          
        </table>
</div>